<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Project  ~Aryan</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/62427ff058.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <section id="header">
        <a href="#"><img src="images/Untitled-2.png" class="logo" width="100px"></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li id="lg-bag"><a href="cart"><i class="fa-solid fa-bag-shopping"></i>
                  <span class="cart-badge" style="display:none; position:absolute; top: -8px; right: -8px; background-color: red; color: white; padding: 2px 5px; font-size: 18px; border-radius: 50%;">0</span></a></li>
                <a href="#" id="close"><i class="fa-solid fa-close"></i></a>
            </ul>
        </div>

        <div id="mobile">
          <a href="cart"><i class="fa-solid fa-bag-shopping"></i>
            <span class="mobile-cart-badge" style="display:none; position:absolute; top: 15px; right: 60px; background-color: red; color: white; padding: 2px 5px; font-size: 14px; border-radius: 50%; z-index: 1;">0</span></a>
          <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </section>

<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <img src="<%= imageOne %>" width="100%" height="600px" id="MainImg" alt="">
    
    <div class="small-img-group">
        <div class="small-img-col">
            <img src="<%= imageOne %>" width="100%" class="small-img" alt="">
        </div>
        <div class="small-img-col">
            <img src="<%= imageTwo %>" width="100%" class="small-img" alt="">
        </div>
        <div class="small-img-col">
            <img src="<%= imageThree %>" width="100%" class="small-img" alt="">
        </div>
        <div class="small-img-col">
            <img src="<%= imageFour %>" width="100%" class="small-img" alt="">
        </div>

    </div>
    </div>

    <div class="single-pro-details">
        <h6>zara</h6>
        <h4><%= productName %></h4>
        <h2><%= price %></h2>
        <select>
            <option>Select Size</option>
            <option>XL</option>
            <option>XXL</option>
            <option>Small</option>
            <option>Large</option>
        </select>
        <input type="number" value="1">
<button data-product-id="<%= productId %>" class="normal add-to-cart">Add To Cart</button>
<a href="cart"><button class="normal Go-to-cart">Go To Cart</button></a>

        <h4>Product Details</h4>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ducimus fugiat reprehenderit voluptates, error et repudiandae! Quasi quidem laborum autem. Eum repudiandae ad porro, voluptates eaque numquam harum aspernatur illum excepturi iure autem aliquid eius inventore nam fuga a dicta itaque officiis veritatis iusto pariatur et tenetur? Placeat, natus id Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eligendi reiciendis libero distinctio harum labore odio corporis quas excepturi ad perspiciatis ipsum, numquam nesciunt obcaecati?</span>
    </div>
</section>


<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Modern design</p>
    <div class="pro-container">
       
  

      <div class="pro" onclick="window.location.href='product11'">
        <img src="images/zara/p11/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>COTTON-LINEN SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 2990</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro" onclick="window.location.href='product12'">
        <img src="images/zara/p12/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>PRINTED STRETCHED SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 2690</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro" onclick="window.location.href='product13'">
        <img src="images/zara/p13/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>TEXTURED CROCHET SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 3990</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro" onclick="window.location.href='product14'">
        <img src="images/zara/p14/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>STRIPED ELASTIC SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 2990</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>
        
    </div>
  </section>

<section id="page-header">
    
    <h2>#stayhome</h2>
   
    <p>Save more with coupons & up to 70% off!</p>
   
</section>




<section id="product1" class="section-p1">
  
  <div class="pro-container" >
      <div class="pro" onclick="window.location.href='product1'";>
        <img src="images/zara/p1/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>STRIPED TEXTURED SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 2990</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>
  

   
      <div class="pro" onclick="window.location.href='product2'">
          <img src="images/zara/p2/a.jpg">
          <div class="des">
            <span>zara</span>
            <h5>STRIPED TEXTURED SHIRT</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>Rs 2990</h4>
          </div>  
          <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
       

        <div class="pro" onclick="window.location.href='product3'">
          <img src="images/zara/p3/a.jpg">
          <div class="des">
            <span>zara</span>
            <h5>ABSTRACTED PRINT SHIRT</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>Rs 2990</h4>
          </div>  
          <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro" onclick="window.location.href='product4'">
          <img src="images/zara/p4/a.jpg">
          <div class="des">
            <span>zara</span>
            <h5>ABSTRACTED PRINT SHIRT</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>Rs 2990</h4>
          </div>  
          <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro" onclick="window.location.href='product5'">
          <img src="images/zara/p5/a.jpg">
          <div class="des">
            <span>zara</span>
            <h5>OXFORD SHIRT</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>Rs 2490</h4>
          </div>  
          <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro" onclick="window.location.href='product6'">
          <img src="images/zara/p6/a.jpg">
          <div class="des">
            <span>zara</span>
            <h5>T-SHIRT WITH CONTRAST PRINT</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>Rs 2290</h4>
          </div>  
          <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro" onclick="window.location.href='product7'">
          <img src="images/zara/p7/a.jpg">
          <div class="des">
            <span>zara</span>
            <h5>GEOMETRIC PRINT SHIRT</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>Rs 2490</h4>
          </div>  
          <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        
        <div class="pro" onclick="window.location.href='product8'">
          <img src="images/zara/p8/a.jpg">
          <div class="des">
            <span>zara</span>
            <h5>COTTON-LINEN SHIRT</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>Rs 2990</h4>
          </div>  
          <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
  
    <div class="pro" onclick="window.location.href='product9'">
      <img src="images/zara/p9/a.jpg">
      <div class="des">
        <span>zara</span>
        <h5>STRIPED BLENDED SHIRT</h5>
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h4>Rs 2990</h4>
      </div>  
      <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
    </div>

    <div class="pro" onclick="window.location.href='product10'">
        <img src="images/zara/p10/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>T-SHIRT WITH CONTRAST PRINT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 2,390</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro" onclick="window.location.href='product11'">
        <img src="images/zara/p11/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>COTTON-LINEN SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 2990</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro" onclick="window.location.href='product12'">
        <img src="images/zara/p12/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>PRINTED STRETCHED SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 2690</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro" onclick="window.location.href='product13'">
        <img src="images/zara/p13/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>TEXTURED CROCHET SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 3990</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro" onclick="window.location.href='product14'">
        <img src="images/zara/p14/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>STRIPED ELASTIC SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 2990</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>

      <div class="pro" onclick="window.location.href='product15'">
        <img src="images/zara/p15/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>ABSTRACT PRINT SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 3490</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>
      
      <div class="pro" onclick="window.location.href='product16'">
        <img src="images/zara/p16/a.jpg">
        <div class="des">
          <span>zara</span>
          <h5>GRAPHIC PRINT T SHIRT</h5>
          <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
          </div>
          <h4>Rs 2290</h4>
        </div>  
        <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
      </div>
</div>
</section>



<section id="pagination" class="section-p1">
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
</section>




<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
    <h4>Sign Up for NewsLetters</h4>
    <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
  </div>
  <div class="form">
    <input type="text" placeholder="Enter your e-mail">
    <button class="normal">Sign Up</button>
  </div>
</section>








<footer class="section-p1">
  <div class="col">
    <img class="logo" src="images/Bird Logo.jpg" width="100px">
    <h4>Contact</h4>
    <p><strong>Address:</strong>401 Vijay Path Road, New Delhi</p>
    <p><strong>Hours:</strong>9:30 - 18:00, Mon - Fri </p>
    <div class="follow">
      <h4>Follow us</h4>
      <div class="icon">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <a href="#">About us</a>
    <a href="#">Delivery Information</a>
    <a href="#">Privacy policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact us</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="#">View Cart</a>
    <a href="#">My Wishlist</a>
    <a href="#">Track My Order</a>
    <a href="#">Help</a>
  </div>
 
  <div class="col install">
    <h4>Install App</h4>
    <p>From App Store or Google Play</p>
    <div class="row">
      <img src="images/pay/app.jpg">
      <img src="images/pay/play.jpg">
    </div>
    <p>Secured payment Gateway</p>
    <img src="images/pay/pay.png">
  </div>
  
  
</footer>
<div class="copyright section-p1 ">
  <p>&copy E-commerce project , Made By AryanSrivastava</p>
</div>


<script>
  const MainImg = document.getElementById("MainImg");
  const smallimg = document.getElementsByClassName("small-img");

  smallimg[0].onclick = function(){
      MainImg.src = smallimg[0].src;
  }
  smallimg[1].onclick = function(){
      MainImg.src = smallimg[1].src;
  }
  smallimg[2].onclick = function(){
      MainImg.src = smallimg[2].src;
  }
  smallimg[3].onclick = function(){
      MainImg.src = smallimg[3].src;
  }

</script>

    <script src="/js/script.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
